bottle
ephemeral_port_reserve
httpretty
mock
mypy; python_version>='3.7'
mypy-extensions; python_version>='3.7'
pip>=9.0.1 # workaround to https://github.com/pypa/pip/issues/3903
pre-commit
pytest
pytest-benchmark[histogram]
pytest-cov
simplejson==3.17.2
swagger_spec_validator
u-msgpack-python
