# Unit test dependencies
mock
mypy; python_version>='3.7'
mypy-extensions; python_version>='3.7'
pre-commit
pytest<4.7  # need support for Python 2.7, see https://docs.pytest.org/en/latest/py27-py34-deprecation.html
pytest-benchmark[histogram]==3.2.3
pytest-cov
